.loginContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url(../image/adminLogin.jpg);
}

.layui-input-block{
  width: 200px;
}
.formContent{
  opacity: 0.9;
  position: relative;
  left: 35%;
  top: 34%;
  width: 472px;
  padding-top: 20px;
  padding-bottom: 40px;
  background:#fcfcfc;
  border-radius: 15px;
}
.title{
  color: #fa7a20;
  font-size: 17px;
  position: relative;
  padding-left: 30px;
}
.layui-icon{
  font-size: 25px !important;		
  cursor: pointer;
}
.layui-form{
  margin-top: 10px;	
  margin-left: 55px;
  position: relative;
}
.layui-form-label{
  font-size: 15px;
}
.layui-input{
  border-radius: 5px;	
}
.layui-btn-radius{
  width: 120px;	
}
.layui-form-onswitch{
  border-color: #ffcc00;
  background-color: #ffcc00;
}
.buttonCombination{
  margin-left: 100px;

}
.layui-btn-warm{
  margin-left: 30px !important;	
}
#icon{
  position: absolute;
  left: 79%;
  top: 0%;	
}