
.bookInfoContainer{
  position: relative;
  margin: 25px auto 0;	
  background: white;
}
.ico-header{
  background: #fbfaf8;	
}
.headContainer{
  height: 400px;
  margin-top: 20px;
}

.leftContainer{
  margin-left: 55px;
  width: auto;
  display: inline-block !important;
  display: inline;
}
.summary{
  max-height: 100px !important;
  overflow: auto;
} 
.bookImage{
  width: auto;
  display: inline-block !important;
  display: inline;
  margin-right: 20px;
  overflow: hidden;
  height: 400px;
  width: 300px;
}
 
.rightContainer{
  position: absolute;
  left: 420px;
  top: 240px;
  width: 600px;
}
.footerContainer{
  margin-top: 50px;
  position: relative;
  margin-left: 55px;
}

.footerLContainer{
  font-size: 18px;
  margin-left: 30px;
  font-weight: bold;
}
.bookTitle,.bookContent,.moreChoice,.purchse,.readBook {
  margin-bottom: 10px;
}
.moreChoice{
  margin-top: 40px;	
}
.readBook {
	font-size: 12px;
}
.purchse{
  margin-left: 40px !important;
}
.bookTitle{
  font-size: 21px;	
}

.commentContent{
  margin-bottom: 20px;	
}
.oneComment{
  margin-bottom: 10px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  position: relative;
}
.otherContent{
  position: absolute;
  left: 80px;
  top: 20px;	
}

.replyDate{
  margin-right: 15px;
  margin-left: 15px;	
}
.userImg{
  width: 50px;
  margin-top: 15px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
}

img{
  border: none;
  height: 70%;
}
.commentInfo{
  margin-top: 10px;
}
.writeComment{
  margin-bottom: 20px;
}
.writeCommentTitle{
  margin-bottom: 10px;	
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
}
.layui-colla-title{
  top:50%;
  height: 33px !important;
  line-height: 35px !important;	
}
.submitComment{
  position: relative;
  left: 93%;
}

.book-number-style {
	border: 1px solid #e6e6e6;
	background-color: #fff;
	display: inline;
	width: 28px;
	height: 21px;
	padding: 0px;
	border-radius: 5px;
	text-align: center;
}

#sub, #add {
	font-size: 15px;
}

#sub {
	margin-right: 5px;
}

#add {
	margin-left: 5px;
}

.num {
	float: left;
	padding-top: 3px;
	font-size: 13px;
	margin-right: 20px;
}

.readBook, .purchse  {
	font-size: 12px !important;
	width: 16%;
	height: 32px !important;
	line-height: 32px !important;
}

.price, .bookNum {
	margin-bottom: 15px;
}

.book-price {
	padding-top: 3px;
	font-size: 13px;
	margin-right: 20px;
}

.book-price-num {
	color: #fa7a20;
	font-size: 16px;
}
