.cartInfoContainer{
	
}
.layui-table-cell{
  text-align: center;	
}
.layui-form{
  margin-top: 20px !important;	
}

.laytable-cell-1-bookInfo{
    height: 100%;
    max-width: 100%;
}
img{
  width: 100%;
}
.layui-table-cell{
  height: 45px !important;	
  line-height: 45px;
}

.cart-img {
	width: 45px;
	height: 44px;
}

.cart-amount {
	position: absolute;
	right: 21%;
	bottom: 16%;
	color: #fa7a20;
	line-height: 26px;
	font-size: 14px;
}

.cart-submit {
	position: absolute;
    right: 3%;
    bottom: 12%;
    height: 30px;
    width: 10%;
    line-height: 30px;
}
.layui-this{
    color: #fa7a20 !important;	
	
}
.layui-this:after{
	    border-bottom: 2px solid #fa7a20 !important;	
}
.layui-tab-content{
	padding: 0px !important;
}

.btn-disable, .layui-btn-disabled:hover {
	background-color: #ff572296;
	color: #fff;
	border-width: 0px;
}



