a {
	text-decoration: none;
}

.layui-container {
	padding: 0px;
}

.common-header {
    background-color: #fbfaf8;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border-bottom: 1px solid #eae6e2;
    border-right: 1px solid #eae6e2;
    border-radius: 0;
}

.welcome-text {
	height: 24px;
	color: #8c8c8c;
}

.header-direct {
	float: right;
	color: #613f23;
}

.header-direct li {
	float: left;
	padding: 0 5px;
}

.cart {
	line-height: 35px;
}

.separate {
	color: #dbd4cd;
    font-size: 10px!important;
}

.layui-badge {
	line-height: 16px;
    height: 16px;
    padding: 0 5px;
}

.ico-header {
	height: 120px;
    padding: 20px 0;
}

.v-align {
	position: relative;
	padding: 10px 0px;
}

.common-logo img {
	width: 160px;
    height: 100px;
    margin-left: -17px;
}

.search-input {
	position: absolute;
	right: 0%;
    top: 50%;
    height: 30px;
    width: 221px;
    transform: translateY(-50%);
    background-color: #fff;
    border: 2px solid #fa7a20;
    border-radius: 4px;
    z-index: 10;
}

.layui-input {
	margin-top: 2px;
	height: 26px;
	width: 60%;
	border-width: 0px;
}

.suggestion-list {
	visibility: hidden;
	position: absolute;	
	top: 77px;
	right: 0px;
	width: 221px;
	text-align: left;
    border: 1px solid #e6e0da;
    background: #fff;
    z-index: 2010
}

.suggestion-list .list-item {
	display: block;
	font-size: 13px;
	height: 28px;
    line-height: 28px;
    padding: 0 10px;
}

a.list-item:hover {
	background-color: #f5f5f5;
    color: #ed6c00;
}

.search-btn {
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.layui-carousel {
	margin-top: 10px;
}

.nav-color {
	background-color: #fa7a20;
	border-radius: 3px;
	padding: 0 127px;
}

.nav-color .layui-this {
	background-color: #f16300;
}

.nav-color .layui-this:after {
	display: none;
}

.layui-nav .layui-nav-item {
	line-height: 42px;
}

.layui-carousel img {
	width: 1170px;
	height: 320px;	
}

.scroll-top {
	position: fixed;
	display: none;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
	background-color: #c9c8c6;
    width: 40px;
    height: 36px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.new-book {
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding: 10px 20px 0;
	border: 1px
}

h3 {
	font-size: 14px;
	font-weight: bold;
	color: #fa7a20;
}




