.loginContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url(../image/login.jpg);
}

.layui-input-block{
  width: 200px;
}
.formContent{
  opacity: 0.9;
  position: relative;
  left: 50%;
  top: 34%;
  width: 472px;
  padding-top: 20px;
  padding-bottom: 40px;
  background:#fcfcfc;
  border-radius: 15px;
}
.title{
  color: #fa7a20;
  font-size: 17px;
  position: relative;
  padding-left: 30px;
}
.iconContent{
  position: absolute;
  left: 93%;
  margin-top: -24px;
  color: #fa7a20;
	
}
.layui-icon{
  font-size: 25px !important;		
  cursor: pointer;
}
.layui-form{
  margin-top: 10px;	
  margin-left: 55px;
  position: relative;
}
.layui-form-label{
  font-size: 15px;
}
.layui-input{
  border-radius: 5px;	
}
.layui-btn-radius{
  width: 100px;	
}
.layui-form-onswitch{
  border-color: #ffcc00;
  background-color: #ffcc00;
}
.buttonCombination{
  margin-left: 50px;

}
.layui-btn-warm{
  margin-left: 30px !important;	
}