.order-list {
	margin-top: 10px;
}

.order-list li:last-child {
	border-bottom: 1px solid #e6e6e6;
}

.layui-field-title {
	border-width: 1px;
}

.item {
	height: 90px;
}

.book-pic, .book-pic img {
	width: 80px;
	height: 90px;
	float: left;
	padding-top: 5px;
}

.book-name, .book-single-price, .book-count {
	float: left;
	width: 100px;
	margin-left: 120px;
	margin-top: 16px;
	font-size: 14px;
}

.book-count {
	margin-top: 18px;
}

.book-total-price {
	float: right;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 14px;
}

.order-list li {
	border-top: 1px solid #e6e6e6;
	padding: 0px 5px 15px;
}
